/* Responsive design */
@media (max-width: 768px) {

    /* Header */

    .logo img {
        height: 30px;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    /* Ensure scrolled styles apply in responsive mode */
    header.scrolled .logo img {
        filter: brightness(0) invert(1);
    }

    header.scrolled .nav-links {
        background-color: #2563eb;
    }

    header.scrolled .nav-links a {
        color: #ffffff;
        /* Change text color */
    }

    header.scrolled .hamburger span {
        color: #ffffff;
        /* Change hamburger icon color */
    }

    /* Hero */
    .hero {
        /* height: 50vh; */
        margin: 0;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .btn {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }

    .about {
        text-align: justify;
    }

    #product-list {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .cart-totals {
        text-align: center;
    }

    .product-detail {
        padding: 1rem;
    }

    .product-detail img {
        max-width: 100%;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 480px) {

    .about {
        text-align: justify;
    }


    .cart-item {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .modal-content {
        padding: 1rem;
    }
}